<section>
    <div class="demoContent">
        <div class="logbox">
            <div class="form">
                <h2>LOGIN</h2>
                <form action="">
                    <div class="inputBox">
                        <input type="text" placeholder="Username">
                        <img src="assets/user.ico">
                    </div>
                    <div class="inputBox">
                        <input type="password" placeholder="Password">
                        <img src="assets/lock.ico">
                    </div>
                    <label class="remember" for=""><input type="checkbox">Remember Me</label>
                    <div class="inputBox">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <p>Forget <a href="#">Password</a></p>
                <p>Need an <a href="#">Account</a></p>
            </div>
        </div>
    </div>
</section>
