/* body{
    background-color: rgb(43, 41, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: magenta;
}

a:hover{
    color: orange;
}

h1{
    color: rgb(255, 251, 0);
    font-size: 60px;
}

h2{
    color: rgb(0, 238, 255)
}

.intro{
    font-size: 30px;
}

.earthTitle{
    color:rgb(94, 255, 0);
}

.marsTitle{
    color: orangered;
} */

.test{
    width: 400px;
    height: 50px;
    background: grey;
    padding: 30px;
    border: solid 5px red;
    margin: 20px;
    display: grid;
    text-align: center;
}

.test1{
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    background: grey;
    padding: 30px;
    border: solid 5px red;
    margin: 20px;
    display: grid;
    text-align: center;
}