<div class="container">
    <div class="card mycard">
        <img src="assets/employee.ico" class="card-img-top emp-img" alt="...">
        <div class="card-body">
        <h5 class="card-title"><h2>Name:</h2>{{employee.name}}</h5>
        <p class="card-text"><strong>Function:</strong> {{employee.job}}</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Entry date: </strong> {{employee.entryDate}}</li>
        <li class="list-group-item"> <strong>Phonenumber: </strong> {{employee.phone}}</li>
        <li class="list-group-item"> <strong>E-Mail: </strong> {{employee.email}}</li>
        <li class="list-group-item"> <strong>Salary: </strong> {{employee.salary}}</li>
        <li class="list-group-item"> <strong>City: </strong> {{employee.address.city}}</li>
        <li class="list-group-item"> <strong>State: </strong> {{employee.address.state}}</li>
        <li class="list-group-item"> <strong>Country: </strong> {{employee.address.country}}</li>
        <li class="list-group"> <button [routerLink]='["/employee"]' type="button" class="btn btn-primary">Get Back</button></li>
        </ul>
    </div>
</div>
<div>.</div>

<router-outlet></router-outlet>