.container{
    display: flex;
    justify-content: center;
}

.emp-img{
    width: 35%;
    margin: 0 auto;
}

.mycard{
    padding-top: 20px;
    max-width: 700px;
    min-width: 500px;
}

.btnContainer{
    display: flex;
    width: 500px;
}
