:root{
    font-size: 20px;
}

html, body{
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    font-size: 1rem;
}

.container{
    margin: 0 10px;
    height: 100%;
    display: grid;
    grid-template: 50px auto 50px /repeat(12, 1fr);
    grid-gap: 2px;
    justify-items: center; /* aligns the content in the div horizontal in the grid cell*/
    align-items: end; /* aligns the content in the div vertical in the grid cell*/
}

.header{
    background: rgb(154, 167, 39);
    grid-column: 2 / -1;
    align-items: center;
    vertical-align: middle;
}

.menu{
    background: rgb(95, 95, 95);
    grid-row: 1 / -2;
    grid-column: 1 / 2;
    align-self: start; /* aligns the content in the div horizontal in the grid cell*/
    justify-self: start; /* aligns the content in the div vertical in the grid cell*/
}

.content{
    font-size: 2em;
    background: rgb(51, 136, 151);
    grid-column: 2 / -1;
    grid-row: 2 / -2;
    align-self: start; /* aligns the content in the div horizontal in the grid cell*/
}

.footer{
    background: rgba(120, 52, 146, 0.664);
    grid-column: 1 / -1;
}

.container > div{
    display: flex;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;

}