.saxContent{
    justify-content: center;
}

.saxContent div p{
    padding: 0 100px;
}

.slidershow{
    margin: 0 auto;
    height: 591px;
    width: 283px;
    overflow: hidden;
}

.navigation{
    position: sticky;
    bottom: 1px;
    display: flex;
}

.bar{
    width: 40px;
    height: 8px;
    border: 2px solid #eee;
    border-radius: 2px;
    margin: 6px;
    transform: translate(85%);
    transition: 0.5s;
}

.bar:hover{
    background-color: #eee;
    cursor: pointer;
}

input[name="r"]{
    display: none;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: 300ms ease-in-out;
}

.slide img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s2{
    margin-left: -25%;
}

#r3:checked ~ .s3{
    margin-left: -50%;
}

#r4:checked ~ .s4{
    margin-left: -75%;
}

.p1{
    text-align: center;
}
p{
    margin: 20px 0;
    text-align: justify;
}