<div class="menu">
  <div class="card">
      <div class="box">
          <a [routerLink]="['/index']" routerLinkActive="active"><img class="content" src="assets/home.png"></a>
      </div>
  </div>
  <div class="card">
      <div class="box">
          <a [routerLink]="['/about']" routerLinkActive="active"><img class="content" src="assets/about.png"></a>
      </div>
  </div>
  <div class="card">
      <div class="box">
          <a [routerLink]="['/sax']" routerLinkActive="active"><img class="content" src="assets/sax.png"></a>
      </div>
  </div>
  <div class="card">
      <div class="box">
          <a [routerLink]="['/fun']" routerLinkActive="active"><img class="content" src="assets/look.png"></a>
      </div>
  </div>
  <div class="card">
    <div class="box">
        <a [routerLink]="['/user']" routerLinkActive="active"><img class="content" src="assets/user.png"></a>
    </div>
  </div>
  <div class="card">
    <div class="box">
        <a [routerLink]="['/supplier']" routerLinkActive="active"><img class="content" src="assets/truck.ico"></a>
    </div>
  </div>
  <div class="card">
    <div class="box">
        <a [routerLink]="['/costumer']" routerLinkActive="active"><img class="content" src="assets/costumer.ico"></a>
    </div>
  </div>
  <div class="card">
    <div class="box">
        <a [routerLink]="['/employee']" routerLinkActive="active"><img class="content" src="assets/employees.ico"></a>
    </div>
</div>
  <div class="card">
      <div class="box">
          <a [routerLink]="['/demo']" routerLinkActive="active"><img class="content" src="assets/fun.png"></a>
      </div>
  </div>
  
</div>

