.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    transition: 0.5s;
}

.menu .card{
    max-width: 80px;
    flex: 1 1 33%;
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset,
    -5px -5px 15px rgba(255,255,255,0.1) inset,
    5px 5px 15px rgba(0,0,0,0.3), 
    -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: 10px;
    width: 100px;
}

.menu .card .box{
    margin: auto;
    background: rgba(255, 255, 255, 0.678);
    border: 2px solid #1e1f23;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.menu .card .box .content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .card .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
    cursor: pointer;

}

.active img{
    background-color: rgba(74, 79, 83, 0.384);
}