
<div class="row">
    <div class="offset-1"><h1>COSTUMER</h1></div>
    <div class="offset-10 col-md-2">
        <a href="#">Create Costumer</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>About</th>
                        <th>Phone</th>
                        <th>E-Mail</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let costumer of costumers">
                        <td>{{costumer.companyName}}</td>
                        <td>{{costumer.about}}</td>
                        <td>{{costumer.phone}}</td>
                        <td>{{costumer.email}}</td>
                        <td>{{costumer.address}}</td>
                        <td><button type="button" id="details" class="btn btn-light">Details</button></td>
                        <td><button type="button" id="update" class="btn btn-success">Update</button></td>
                        <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>