<div class="contentAboutMe">
    <img class="headerImg" src="assets/alexSax.jpeg" alt="Alexander with Saxophone">
    <div>Hallo mein Name ist Alexander Toplitsch, ich bin 23 Jahre alt 
        und mein Heimatdorf liegt in Bleiburg. Auf dieser Seite nehme 
        ich euch auf einen kurzen Ausflug in mein Leben mit!</div>

    <div>In St.Michael ob Bleiburg besuchte ich den Kindergarten, sowie die 
        Hauptschule. Nach dieser wunderbaren Zeit ohne Beschwerden war mein 
        nächster Schritt die Musik-Hauptschule in Lavamünd zu absolvieren. 
        In dieser Zeit lernte ich einige meiner besten Freunde kennen. 
        Mit diesen gründete ich  eine vergleichbar erfolgreiche Party-Band, 
        mit der wir regelrecht jedes Zeltfest und etliche andere Veranstaltungen 
        zum Beben brachten! Nach meinem Hauptschulabschluss, besuchte ich vergebens, 
        aber nicht umsonst, die HTL 1 Lastenstraße um mich im Maschinenbautechnik-Zweig 
        zu versuchen. Nach zwei Jahren beschloss ich jedoch aus finanzieller und 
        musikalischer Sicht vom HTL-Lehrgang, in  den Lehrberuf zu wechseln, 
        bei dem ich durch meine „Erfahrung“ leichtes Spiel hatte.</div>
    <img class="sideImage" src="assets/alexBand.JPG" alt="Alexander mit dem Bass auf der Bühne neben dem Sänger">
    <div>Nach der Lehrabschlussprüfung holte mich nach 6 Monaten regulärer 
        Arbeitszeit das Bundesheer auf die Matte, bei der ich meine 
        musikalische Ausbildung vertiefen konnte. Ich lernte binnen zwei 
        Wochen die Klarinette, inklusive dem Marschieren,  im 
        semiprofessionellen Niveau zu spielen. Auch wie in der Hauptschule 
        lernte ich einen weiteren sehr guten Freund kenne, mit dem ich heute 
        noch immer musikalisch, sowie sozial sehr viel zu tun habe. 
        Diese Zeit möchte in meinem ganzen Leben niemals missen!</div>
    <img class="sideImage" src="assets/alexHeer.jpg" alt="Alexander in Uniform mit dem Klarinettenregister">
    <div>Nach dem Bundesheer entschied ich mich eine neue Lehre zu beginnen. 
        Doch leider fiel meine Entscheidung zu spät und musste so ein Jahr 
        überbrücken. Deswegen ging ich leider nur für ein halbes Jahr auf 
        Montage um Geld zu verdienen, da das Corona-Virus mir einen Strich 
        durch die Rechnung machte.</div>

    <div>Während des Lockdowns begann ich meine Sportlichkeit auf Vordermann 
        zu bringe und so begann mein Lauftraining. Ich begann mit einem für
         mich schlechten Ergebnis, in dem ich 35min für 4.7km (mit drei Pausen) 
         gebraucht habe. Ich trainierte 5 Monate, vier-mal pro Woche und 
         steigerte mich so auf eine Laufzeit von 1 Stunde und 25 min bei einer 
         Distanz von 15km. Natürlich kam meine liebste Sportart, Tennis nicht 
         zu kurz. Mit den Tenniseinheiten, kam ich auf 6 Sporteinheiten pro 
         Woche, die mich am Ende der Quarantäne um ein Vielfaches sportlicher 
         machten. </div>
    <img class="sideImage" src="assets/alexTennis.PNG" alt="Alexander schlägt eine Vorhand am Tennisplatz">
    <div>Nach des Sommer-Lockdowns fing endlich meine Ausbildung als 
        Applikationsentwickler an. Ich hatte noch nie so viel Spaß bei einer 
        Ausbildung als beim Programmieren. Bis jetzt lernte ich viel Neues 
        aber wiederholte auch schon Gelerntes.</div>

    <div>Das war meine zusammengefasste Geschichte bis zum 23.12.2020. 
        Ab diesem Zeitpunkt schreibe ich weiter meine Lebensgeschichte und 
        vielleicht werde ich diesen Text erweitern. Bleibt gespannt auf 
        meine nächsten Lebensjahre, denn die werden in den nächsten 
        Ausbildungsjahren bestimmt interessant!</div>

    <div>TO CONTINUE…</div>
</div>