<div class="content1">
  <img class="image" src="assets/alex.JPG" alt="Alexander Toplitsch lacht">
  <div class="informations">
      <ul class="contentList">
          <li><div class="contentDescription">Vorname: </div><div class="information">Alexander</div></li>
          <li><div class="contentDescription">Nachname: </div><div class="information">Toplitsch</div></li>
          <li><div class="contentDescription">Geburtsdatum: </div><div class="information">14.11.1997</div></li>
          <li><div class="contentDescription">Alter: </div><div class="information">23</div></li>
          <li><div class="contentDescription">Geburtsort: </div><div class="information">Klagenfurt</div></li>
          <li><div class="contentDescription">Adresse: </div><div class="information">Sparbersbachgasse 29/5, 8010 Graz</div></li>
          <li><div class="contentDescription">Telefonnummer: </div><div class="information">0664/1508367</div></li>
          <li><div class="contentDescription">E-Mail: </div><div class="information">toplitschalex@gmail.com</div></li>
      </ul>
  </div>
</div>

<div class="footer"><a href="https://www.facebook.com/alexander.toplitsch.9">Facebook</a></div>

